<h2>Eventos</h2>
<hr />

<div class="form-inline">
  <div class="form-group mb-2">
    <label class="mr-2">Filtro: </label>
    <input
      type="text"
      class="form-control mr-2"
      placeholder="buscar"
      [(ngModel)]="filtroLista"
    />
  </div>
</div>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr class="text-center">
      <th>
        <button
          type="button"
          class="btn btn-outline-light btn-sm text-center"
          (click)="exibeImagem = !exibeImagem"
        >
          <i class="{{ exibeImagem ? 'fa fa-eye' : 'fa fa-eye-slash' }}"></i>
          {{ exibeImagem ? "Mostrar imagem" : "Esconder imagem" }}
        </button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th class="text-center">Opções</th>
    </tr>
  </thead>

  <tbody *ngIf="eventosFiltrados && eventosFiltrados.length">
    <tr *ngFor="let evento of eventosFiltrados" class="text-center">
      <td align="middle">
        <img
          [collapse]="exibeImagem"
          [isAnimated]="true"
          src="./assets/{{ evento.imagemURL }}"
          alt="imagem"
          class="rounded img-thumbnail"
          width="150vw"
          height="auto"
        />
      </td>
      <td>{{ evento.id }}</td>
      <td>{{ evento.tema }}</td>
      <td>{{ evento.local }}</td>
      <td>{{ evento.dataEvento | DateTimeFormat }}</td>
      <td>{{ evento.qtdPessoas }}</td>
      <td>{{ evento.lotes[0].nome }}</td>
      <td class="text-center">
        <button
          class="btn btn-outline-warning fa fa-edit mr-2"
          tooltip="Editar"
        ></button>
        <button
          class="btn btn-outline-danger fa fa-trash-can"
          tooltip="Excluir"
          (click)="openModal(template)"
        ></button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventosFiltrados.length">
    <tr>
      <td colspan="8" class="text-center">
        <h4>Nenhum evento encontrado</h4>
      </td>
    </tr>
  </tfoot>
</table>

<ng-template #template>
  <div class="modal-body text-center">
    <p>Certeza que deseja excluir este evento?</p>
    <button type="button" class="btn btn-danger" (click)="confirm()">
      Sim
    </button>
    <button type="button" class="btn btn-default" (click)="decline()">
      Não
    </button>
  </div>
</ng-template>
