<div class="card rounded shadow-sm">
  <form [formGroup]="form">
    <div class="p-3">
      <div class="form-row">
        <div class="form-group col-md-12">
          <label>Tema</label>
          <input
            type="text"
            class="form-control is-invalid"
            formControlName="tema"
            placeholder="Insira o Tema"
            [ngClass]="cssValidator(f.tema)"
          />
          <div class="invalid-feedback" *ngIf="f.tema.errors?.required">
            Tema é obrigatório
          </div>
          <div class="invalid-feedback" *ngIf="f.tema.errors?.minlength">
            Tema deve ter no mínimo 4 carateres
          </div>
          <div class="invalid-feedback" *ngIf="f.tema.errors?.maxlength">
            Tema deve ter no máximo 50 carateres
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-8">
          <label>Local</label>
          <input
            type="text"
            class="form-control is-invalid"
            formControlName="local"
            placeholder="Local"
            [ngClass]="cssValidator(f.local)"
          />
          <div class="invalid-feedback" *ngIf="f.local.errors?.required">
            Local é obrigatório
          </div>
        </div>
        <div class="form-group col-md-4">
          <label>Data e Hora</label>
          <input
            type="text"
            readonly="true"
            class="form-control is-invalid"
            formControlName="dataEvento"
            placeholder="Data e hora"
            [ngClass]="cssValidator(f.dataEvento)"
            bsDatepicker
            [bsConfig]="{
              adaptivePosition: true,
              withTimepicker: true,
              dateInputFormat: 'DD/MM/YYYY HH:mm',
              containerClass: 'theme-default',
              showWeekNumbers: false
            }"
            value="{{ evento.dataEvento }}"
          />
          <div class="invalid-feedback" *ngIf="f.dataEvento.errors?.required">
            Data e hora é obrigatório
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-2">
          <label>Qtd Pessoas</label>
          <input
            type="text"
            class="form-control is-invalid"
            formControlName="qtdPessoas"
            placeholder="Quantidade de pessoas"
            [ngClass]="cssValidator(f.qtdPessoas)"
          />
          <div class="invalid-feedback" *ngIf="f.qtdPessoas.errors?.required">
            Qtd Pessoas é obrigatório
          </div>
          <div class="invalid-feedback" *ngIf="f.qtdPessoas.errors?.max">
            Qtd Pessoas é no máximo 100k
          </div>
        </div>
        <div class="form-group col-md-2">
          <label>Telefone</label>
          <input
            type="text"
            class="form-control is-invalid"
            formControlName="telefone"
            placeholder="(000) 90000-0000"
            [ngClass]="cssValidator(f.telefone)"
          />
          <div class="invalid-feedback" *ngIf="f.telefone.errors?.required">
            Telefone é obrigatório
          </div>
        </div>
        <div class="form-group col-md-4">
          <label>Email</label>
          <input
            type="text"
            class="form-control is-invalid"
            formControlName="email"
            placeholder="e-mail"
            [ngClass]="cssValidator(f.email)"
          />
          <div class="invalid-feedback" *ngIf="f.email.errors?.required">
            Email é obrigatório
          </div>
          <div class="invalid-feedback" *ngIf="f.email.errors?.email">
            Email inválido
          </div>
        </div>
        <div class="form-group col-md-4">
          <label>Imagem</label>
          <input
            type="text"
            class="form-control is-invalid"
            formControlName="imagemURL"
            placeholder=""
            [ngClass]="cssValidator(f.imagemURL)"
          />
          <div class="invalid-feedback" *ngIf="f.imagemURL.errors?.required">
            Imagem é obrigatório
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex">
        <button
          class="btn btn-outline-secondary mr-auto border"
          (click)="resetForm()"
        >
          Cancelar Alteração
        </button>
        <button
          class="btn btn-success"
          [disabled]="!form.valid"
          (click)="salvarAlteracao()"
        >
          <!-- <span class="spinner-border spinner-border-sm mr-1"></span> -->
          Salvar Evento
        </button>
      </div>
    </div>
  </form>
</div>
